<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<h1>{{title}}</h1>
<h1>Well, where am I?</h1>
<h2>Unfortunately, this page does not exist :(</h2>
<a href="/users">User List</a>
{{>footer}}
</body>
</html>