body {
    /*background-image: url("../rainbow.jpg");*/
    /*background-color: #3B2049;*/
    /*background-image: url("../ghost.jpg");*/
    background-color: #191a54;
    /*background-repeat: no-repeat;*/
    /*background-position: right top;*/
    /*background-size: 80%;*/
    font-family: Georgia, serif;
}
h1 {
    font-size: 60px;
    color: white;
}
h2 {
    font-size: 50px;
    color: white;
}
h3 {
    font-size: 30px;
    color: white;
}
a {
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
}
img {
    max-width: 100%
}
.image {
    flex-basis: 90%;
    min-width: 50%;
    height: auto;
}
.text {
    font-size: 20px;
    padding-right: 10px;
}

.divSpace {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 10%;
}

.italic {
    font-style: italic;
}